//FOOTER
.footer{
    //display: block;
    text-align: center;
    background: $color3;
    height: 50px;
}

.footer-icon{
    display: inline-block;
    text-decoration: none;
    color: $color2;
    margin-top: 20px;
    margin-left: 15px;
}