//SERVICIOS
.servicios{
    display: flex;
}

.servicio{
    display: flex;
    height: 7em;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
    background: $color1;
    color: $colorback;
    
    
    &:nth-of-type(2){
        background: $color2;
    }
    &:nth-of-type(3){
        background: $color3;
        
    }
    
}

span .material-icons{
    padding-bottom: 5px;
}