//VARIABLES

$color1: #3498db;
$color2: #95a5a6;
$color3: #34495e;

$colorback: #ecf0f1;



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
$font: 'Roboto', sans-serif;



*{
  box-sizing: border-box;
}


@import "components/menu";
@import "components/banner";
@import "components/servicios";
@import "components/people";
@import "components/wherecontact";
@import "components/footer";


body{
    background: $colorback;
    margin: 0;
    padding: 0;
    font-family: $font;
}
