@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
* {
  box-sizing: border-box;
}

.main-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
}

.menu-item {
  height: 50px;
  list-style: none;
  float: left;
}

.menu-item:hover {
  background: #217dbb;
}

.menu-item a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #ecf0f1;
  padding: 15px;
  font-weight: 500;
}

.icon {
  display: none;
}

@media screen and (max-width: 680px) {
  ul.main-menu li:not(:first-child) {
    display: none;
  }
  ul.main-menu li.icon {
    float: right;
    display: inline-block;
  }
  .menu-item a.respon-item {
    border-bottom: 1px solid #258cd1;
  }
}

@media screen and (max-width: 680px) {
  ul.main-menu.responsive {
    position: relative;
  }
  ul.main-menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.main-menu.responsive li {
    float: none;
    display: inline;
  }
  ul.main-menu.responsive li a {
    display: block;
    text-align: left;
  }
  ul.main-menu.responsive li a.logo {
    width: 50px;
  }
}

a.logo {
  padding-top: 20px;
}

.banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background: url("../images/carpenterXS.jpg");
  background-size: 100% 100%;
}

.banner h2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 15px;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 450px) {
  .banner {
    height: 350px;
    background: url("../images/carpenterS.jpg");
    background-size: 100% 100%;
  }
  .banner h2 {
    margin-left: 65px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 530px) {
  .banner h2 {
    margin-left: 80px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 630px) {
  .banner {
    height: 370px;
    background: url("../images/carpenterS.jpg");
    background-size: 100% 100%;
  }
  .banner h2 {
    margin-left: 90px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 680px) {
  .banner {
    height: 370px;
    background: url("../images/carpenterM.jpg");
    background-size: 100% 100%;
  }
  .banner h2 {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media screen and (min-width: 920px) {
  .banner h2 {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1100px) {
  .banner h2 {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 500px;
    background: url("../images/carpenterL.jpg");
    background-size: 100% 100%;
  }
  .banner h2 {
    margin-left: 180px;
    margin-right: 180px;
  }
}

.servicios {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.servicio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7em;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3498db;
  color: #ecf0f1;
}

.servicio:nth-of-type(2) {
  background: #95a5a6;
}

.servicio:nth-of-type(3) {
  background: #34495e;
}

span .material-icons {
  padding-bottom: 5px;
}

.people {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  height: 200px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  background: #cfd9db;
}

.person-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.person-name {
  color: #34495e;
  font-weight: 500;
}

@media screen and (min-width: 520px) {
  .people {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .person {
    width: 47%;
    margin-left: 5px;
  }
  .person:last-child {
    width: 95%;
  }
}

@media screen and (min-width: 680px) {
  .people {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .person {
    width: 31.1%;
    margin-left: 5px;
  }
  .person:nth-child(4) {
    width: 47%;
  }
  .person:last-child {
    width: 47%;
  }
}

@media screen and (min-width: 920px) {
  .people {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-left: 23px;
    margin-right: 23px;
  }
  .person {
    width: 20%;
  }
  .person:first-child {
    margin-left: 0px;
  }
  .person:nth-child(4) {
    width: 20%;
  }
  .person:last-child {
    width: 20%;
  }
}

.wherecontact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.where-text {
  color: #34495e;
  border-bottom: 1px solid #95a5a6;
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-weight: 500;
}

.where {
  width: 95%;
  margin-bottom: 20px;
}

#contact-map {
  height: 250px;
  border: 1px solid #95a5a6;
}

.contact {
  width: 95%;
  margin-bottom: 20px;
}

.form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

label {
  color: #34495e;
}

input, textarea {
  width: 100%;
}

.send {
  width: 80px;
  height: 25px;
  color: #34495e;
  background: #95a5a6;
  border: none;
  border-radius: 1px;
  font-weight: 600;
}

@media screen and (min-width: 920px) {
  .wherecontact {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 500px;
    margin-left: 23px;
    margin-right: 23px;
  }
  .where {
    height: 90%;
    margin-right: 7px;
  }
  .contact {
    height: 90%;
    margin-left: 7px;
  }
  .where-text {
    height: 5%;
  }
  #contact-map {
    height: 80%;
  }
}

.footer {
  text-align: center;
  background: #34495e;
  height: 50px;
}

.footer-icon {
  display: inline-block;
  text-decoration: none;
  color: #95a5a6;
  margin-top: 20px;
  margin-left: 15px;
}

body {
  background: #ecf0f1;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
